<div class="file-browser">
	<ul class="directory-listing-wrap">
		<li class="file">
			<div class="file-listing">
				<span class="file-icon">
					<span class="directory-caret"></span>
					<span class="glyphicon glyphicon-folder-open"></span>
				</span>
				<span class="file-name">src/</span>
			</div>
			<ul class="directory-listing-wrap">
				{{#each filesA}}
				<li class="file">
					<div class="file-listing">
						<span class="file-icon">
							<span class="directory-caret invisible"></span>
							<span class="glyphicon glyphicon-file"></span>
						</span>
						<span class="file-name">{{this}}</span>
					</div>
				</li>
				{{/each}}
				<li class="file">
					<div class="file-listing">
						<span class="file-icon">
							<span class="directory-caret"></span>
							<span class="glyphicon glyphicon-folder-close"></span>
						</span>
						<span class="file-name">more/</span>
					</div>
					<ul class="directory-listing-wrap">
						<li class="file-listing">
							<span class="file-icon">
								<span class="directory-caret invisible"></span>
								<span class="glyphicon glyphicon-file"></span>
							</span>
							<span class="file-name">world</span>
						</li>
					</ul>
				</li>
				{{#each filesB}}
				<li class="file">
					<div class="file-listing">
						<span class="file-icon">
							<span class="directory-caret invisible"></span>
							<span class="glyphicon glyphicon-file"></span>
						</span>
						<span class="file-name">{{this}}</span>
					</div>
				</li>
				{{/each}}
			</ul>
		</li>
		<li class="file">
			<div class="file-listing">
				<span class="file-icon">
					<span class="directory-caret invisible"></span>
					<span class="glyphicon glyphicon-file"></span>
				</span>
				<span class="file-name">hello</span>
			</div>
		</li>
	</ul>
</div>
