<div class="type-mapper">
	<h2>Map a type to a visualization</h3>

	<form>
		<div class="form-group spice-color row">
			<div class="col-sm-6">
				<label for="var-chooser">Variable</label>
				<select id="var-chooser" class="form-control spice-color">
					<option>arr1</option>
					<option>tree1</option>
					<option>hash1</option>
				</select>
			</div>

			<div class="col-sm-6">
				<label for="type-chooser">Type</label>
				<select id="type-chooser" class="form-control spice-color">
					<option>Vector</option>
					<option>Tree</option>
					<option>Hash Map</option>
				</select>
			</div>
		</div>

		<div class="form-group spice-color">
			<label>Data Pointer</label>
			<select class="form-control spice-color">
				<option selected>char* arr</option>
				<option>int length</option>
				<option>int capacity</option>
			</select>
		</div>

		<div class="form-group spice-color">
			<label>Length</label>
			<select class="form-control spice-color">
				<option>char* arr</option>
				<option selected>int length</option>
				<option>int capacity</option>
			</select>
		</div>

		<div class="form-group spice-color">
			<label>Capacity</label>
			<select class="form-control spice-color">
				<option>char* arr</option>
				<option>int length</option>
				<option selected>int capacity</option>
			</select>
		</div>

		<button type="button" class="btn btn-primary pull-right spice-color spice-button">Apply</button>
		<div class="clearfix"></div>
	</form>
</div>
